body{
  width: 90%;
  margin: 0 auto;
  background-color: #cccccc;
  font-family: "open sans condensed", sans-serif;
  font-size: 24px;
  text-align: center;
}

.winner {
  border: 5px solid black;
}
